# Example files
examples/data/
examples/autoencoder/.ipynb_checkpoints
examples/celeba/exps
performance/.ipynb_checkpoints
tests/.ipynb_checkpoints
examples/imputation/comparison2D/plot.ipynb
examples/imputation/comparison2D.tar.gz

# Unfinished examples
examples/imputation/MRI3D_interpolation.ipynb
examples/imputation/MRI3D_interpolation.ipynb

# Distribution files
dist/
pypi-token.txt

# Developing tools
dev/

*.pyc
